DB_HOST=localhost
DB_PORT=5432
DB_NAME=Product_Data
DB_USER=nxt_admin
DB_PASSWORD=Altius@123


SUPABASE_URL=https://qwqhpifceigogcganvcp.supabase.co
SUPABASE_ANON_KEY=sb_publishable_erx9xCVAP1Gm7hI2jb6Pig_RoQpy-0-


API_KEY=my_super_secret_key

